<div class="justify-content-center">
  <% if(success && success.length>0){ %>
   
     <div class="   m-4 alert alert-success alert-dismissible text-center " role="alert">
  <%= success %>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

<% } %>
  
</div>

<% if(failure && failure.length>0){ %>
    <div class="m-4 alert alert-danger alert-dismissible fade show" role="alert">
  <%= failure %>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<% } %>