<% layout("/layouts/boilerplate.ejs") %>

    <body>
        <div class="new-main offset-2">
            <h3>New Listing</h3>
            <form action="/listing" method="POST" novalidate class="needs-validation" enctype="multipart/form-data">

                <div class="row">
                    <div class="col-8 ">
                        <div class="mb-3">
                            <label for="title" class="form-label">Title:</label>
                            <input class="form-control" type="text" name="title" placeholder="Add a catchy  name"
                                required>
                            <div class="valid-feedback">
                                Title looks Good!
                            </div>
                            <div class="invalid-feedback">
                                Title is not provided!
                            </div>
                        </div>

                        <div class="mb-3">
                            <label for="description" class="form-label">Description:</label>
                            <textarea class="form-control" name="description" required></textarea>
                            <div class="valid-feedback">
                                Great!
                            </div>
                        </div>


                        <div class="mb-3">
                            <label class="form-label" for="location">Location:</label>
                            <input placeholder="Jaipur" class="form-control" type="text" name="location" required>
                            <div class="invalid-feedback">
                                Enter Valid Location
                            </div>
                            
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="mb-3">
                                    <label for="price" value="enter price" class="form-label">Price:</label>
                                    <input placeholder="1200" class="form-control" type="number"  name="price" required>
                                    <div class="invalid-feedback">
                                        Price is not valid
                                    </div>
              
                                </div>
                            </div>
                            <div class="col-md">
                                <div class="mb-3">
                                    <label for="country" value="enter country" class="form-label">Country:</label>
                                    <input placeholder="India" class="form-control" type="text" name="country" required>
                                    <div class="invalid-feedback">
                                        Please select valid Country
                                    </div>
                                </div>
                            </div>
                        </div>







                        <div class="mb-3">
                            <label for="image[url]" class="form-label">Upload Image</label>
                            <input class="form-control" type="file"  name="image[url]"   value   ="">

                        </div>

                        <div class="mb-3 add-btn">
                            <button class="btn btn-primary  s-edit-btn">Add</button>
                        </div>
                    </div>
                </div>



        </div>
    </body>